<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - The Cake Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <!-- App css -->
    @Styles.Render("~/Assets/css")
    <link rel="stylesheet" href="~/Assets/css/sweetalert2.min.css" />
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr2")
    <script src="~/Assets/js/sweetalert2.min.js"></script>


</head>


<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">

            <div class="slimscroll-menu" id="remove-scroll">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="/Admin/Dashboard" class="logo">
                        <span>
                            <img src="~/Assets/images/logo-l.png" alt="">
                        </span>
                        <i>
                            <img src="~/Assets/images/logo-sm.png" alt="" height="28">
                        </i>
                    </a>
                </div>

                <!-- User box -->
                <div class="user-box">
                    <div class="user-img">
                        <img src="~/Assets/images/man.png" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                    </div>
                    <h5><a href="#">The Cake Shop</a> </h5>
                    <p class="text-muted">Admin Head</p>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul class="metismenu" id="side-menu">

                        <!--<li class="menu-title">Navigation</li>-->

                        <li>
                            <a href="/Admin/Dashboard">
                                <i class="fi-air-play"></i><span> Dashboard </span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);"><i class="fi-paper-stack"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>@Html.ActionLink("Add New Page", "AddPage", "Pages")</li>
                                <li>@Html.ActionLink("Manage Pages", "Index", "Pages")</li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Admin/Pages/EditSideBar">
                                <i class="fi-stack"></i><span> Sidebar </span>
                            </a>
                        </li>

                        <li>
                            <a href="/Admin/Shop/Categories">
                                <i class="fi-bag"></i><span> Categories </span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);"><i class="fi-moon"></i> <span> Cakes/Products </span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>@Html.ActionLink("Add New Cake/Product", "AddProduct", "Shop")</li>
                                <li>@Html.ActionLink("Manage Cakes/Products", "Products", "Shop")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);"><i class="icon-user"></i> <span> Users </span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>@Html.ActionLink("Add New User", "CreateAccount", "Users")</li>
                                <li>@Html.ActionLink("Manage Users", "Index", "Users")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Admin/Shop/Orders">
                                <i class="icon-handbag"></i><span> Orders </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);"><i class="fi-paper"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>@Html.ActionLink("Annually Report", "AnnuallyReport", "Reports")</li>
                                <li>@Html.ActionLink("Monthly Report", "MonthlyReport", "Reports")</li>
                            </ul>
                        </li>

                    </ul>

                </div>
                <!-- Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            <!-- Top Bar Start -->
            <div class="topbar">

                <nav class="navbar-custom">

                    <ul class="list-unstyled topbar-right-menu float-right mb-0">

                        <li class="hide-phone app-search">
                            <form>
                                <input type="text" placeholder="Search..." class="form-control">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="~/Assets/images/man.png" alt="user" class="rounded-circle"> <span class="ml-1">Admin <i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item-->
                                <a href="/Account/user-profile" class="dropdown-item notify-item">
                                    <i class="fi-head"></i> <span>My Account</span>
                                </a>

                                <!-- item-->
                                <a href="/Account/Logout" class="dropdown-item notify-item">
                                    <i class="fi-power"></i> <span>Logout</span>
                                </a>

                            </div>
                        </li>

                    </ul>

                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left disable-btn">
                                <i class="dripicons-menu"></i>
                            </button>
                        </li>
                        <li>
                            <div class="page-title-box">
                                <h4 class="page-title">Dashboard </h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">Welcome to The Cake Shop Admin Panel.</li>
                                </ol>
                            </div>
                        </li>

                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->
            <!-- Start Page content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div> <!-- container -->

            </div> <!-- content -->

            <footer class="footer text-right">
                2018 © The Cake Shop. - Admin Panel
            </footer>

        </div>


    </div>
    @Scripts.Render("~/bundles/jquery2")
    @Scripts.Render("~/Assets/dashboard")
    @Scripts.Render("~/Assets/appjs")
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap4.min.js"></script>
    <script src="~/Scripts/DataTables/jszip.min.js"></script>
    <script src="~/Scripts/DataTables/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>