@model TheCakeShop.Models.ViewModels.Account.UserVM

@{
    ViewBag.Title = "Create Account";
}

@section Styles {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
}


<section class="page-title text-center">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1 class="uppercase">Create Account</h1>
            </div>
        </div>
    </div>
</section>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="section-wrap login-register pt-0 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="register">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h4 class="uppercase">Register</h4>
                        <p class="form-row form-row-wide">
                            <label>First Name</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input-text" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Last Name</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input-text" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Address</label>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "input-text" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Contact Number</label>
                            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "input-text" } })
                            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Email Address</label>
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "input-text" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Username</label>
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input-text" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Password</label>
                            @Html.PasswordFor(model => model.Password, new { @class = "input-text" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Confirm Password</label>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input-text" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </p>
                        <p class="form-row form-row-wide">
                            <label>Date Of Birth</label><br />
                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "input-text date-picker" } })
                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                        </p>
                        <input type="submit" value="Register" class="btn">
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section Scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {

            $('.date-picker').datepicker();
        })
    </script>
}